# Segmenting and Clustering Neighborhoods in Toronto

This notebook is dedicated to the assignment with the above name in the Data Science Professional Certificate course. This assignment is a preparatory for the Capstone Project.

In [1]:
import pandas as pd
import numpy as np

## Part I: Preparing Data

In [2]:
wiki_tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [3]:
wiki_tables[0]

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

This is the target table.

In [4]:
df = wiki_tables[0]

Remove cells that have a "Not assigned" borough.

In [5]:
df = df[df['Borough'] != 'Not assigned']

In [6]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

Merge rows that correspond to the same postcode.

In [7]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()

In [8]:
df[df['Postcode'] == 'M6A']

   Postcode     Borough                     Neighbourhood
71      M6A  North York  Lawrence Heights, Lawrence Manor

Assign borough's name to the neighborhood if the neighborhood is not assigned.

In [9]:
df[df['Neighbourhood'] == 'Not assigned']

   Postcode       Borough Neighbourhood
93      M9A  Queen's Park  Not assigned

In [10]:
df['Neighbourhood'] = np.where(df['Neighbourhood'] == 'Not assigned', df['Borough'], df['Neighbourhood'])

In [11]:
df[df['Postcode'] == 'M9A']

   Postcode       Borough Neighbourhood
93      M9A  Queen's Park  Queen's Park

Print shape of the cleaned dataframe.

In [12]:
df.shape

(103, 3)